.example::-webkit-scrollbar {
  display: none;
}

.example {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body, body * {
    transition: background-color 0.3s ease,
                color 0.3s ease,
                border-color 0.3s ease;
}

.title{
    font-size: 2rem;
}

.subtitle{
    font-size: 1.5rem;
}

.paragraph{
    font-size: 1rem;
}

.header{
    background-color: var(--salmon-dark);
    width: 100vw;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--text-light);
    padding: 0 1rem
}

.theme-mode-container-dummy{
    visibility: hidden;
}

.theme-mode-container:hover{
    cursor: pointer;
}

.navbar{
    width: 100vw;
    min-height: 5vh;
    background-color: var(--salmon-primary);
}

.navbar-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-list li{
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    min-width: 10vw;
    height: 100%;
    transition: background-color 0.3s ease;
}

.navbar-list a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 1rem 2rem;
    text-decoration: none;
    color: var(--text-light);
}

.navbar-list li:hover{
    background-color: var(--salmon-light);    
    cursor: pointer;
}

.filters-container{
    height: 10vh;
    width: 100vw;
    background-color: var(--salmon-light);
}

contenuto{
    flex: 1;
    width: 100vw;
    background-color: var(--salmon-ultra-light);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-primary);
}

footer{
    height: 5vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--salmon-light);
    padding: 1.5rem;
    color: var(--text-primary);
}